.dmg-post-list {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0 15px 15px;
    
    a {
        display: block;
        margin-top: 5px;
        background-color: rgba(0,0,0,0.01)
    }

    .dmg-pagination {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        gap: 5px;
        
        a {
            background: transparent;
            display: inline-flex;
        }
    }
}